* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* wrapper */

.wrapper {
  margin: 2rem;
}

/* text font size and color */

header h1 {
  color: white;
  font-size: 5rem;
}

header h2 {
  color: white;
  font-size: 1rem;
  padding-bottom: 3rem;
}

main .content h5 {
  padding-bottom: 1rem;
  color: rgb(144, 149, 154);
}

.content {
  font-size: 1.1rem;
}

p {
  padding-top: 2rem;
  color: rgb(144, 149, 154);
}

span {
  color: rgb(144, 149, 154);
}

/* header */

header {
  background-image: url(./images/peakpx.jpg);
  height: 500px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

header button {
  width: 280px;
  height: 60px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
/* --------------------------------------------------------------------------- */
/* main section */
/* --------------------------------------------------------------------------- */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  gap: 7rem;
  max-width: 90vh;
  margin: 0 auto;
}

main div img {
  height: 700px;
  width: 550px;
}

.content h1 {
  padding-bottom: 2rem;
}

hr {
  width: 15%;
  height: 2px;
  border: none;
  background-color: black;
}

.content ul {
  padding-top: 1rem;
  color: green;
  list-style-position: inside;
  padding-bottom: 3rem;
}

.content button {
  width: 220px;
  height: 60px;
  border: 1px solid black;
  color: black;
  background-color: transparent;
}

.content button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}

li::marker {
  font-size: 1.5rem;
}
