* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* wrapper */

.wrapper {
  margin: 2rem;
}

/* text font size and color */

header h1 {
  color: white;
  font-size: 5rem;
}

header h2 {
  color: white;
  font-size: 1rem;
  padding-bottom: 3rem;
}

/* header */

header {
  background-image: url(./images/peakpx.jpg);
  height: 500px;
  object-fit: cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

header button {
  width: 280px;
  height: 60px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

header button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
